# Ignore Python cache and environment
__pycache__/
*.pyc
*.pyo
venv/
env/

# Ignore output directory where QR codes are saved
qr_code_generator/output/

# Ignore logs and system files
*.log
.DS_Store
